/* Color de logo #13223f; */
.bg-light{
  background-color: #fff !important;
}
a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
a:hover{
        color: #13223f;
}
body>.container-fluid{
    overflow: hidden;
}
/* boton */
.btn-primary{
  background-color: #13223f !important;
  border: #073855;
}
/* espacio menu */
.espacio-menu{
    height: 86px;
    overflow: hidden;
}
/* buscador */
#buscador{
  overflow: hidden;
}
#buscador form{
    padding: 32px 10px 20px;
    background-color: #2991ce;
    overflow: hidden;
}
#buscador select, #buscador input, #buscador button{
    border-radius: 0;
}
#buscador button{
    background-color: #13223f;
}
/* fin de buscador */
.especialistas {
    padding: 40px 0;
    background-color: #13223f;
    color: #fff;
}
#informacion, #aliados{
  overflow: hidden;
}
#informacion h4{
    color: #010101;
}
#informacion .contenedor-icono{
    width: 100%;
    height: 25%;
    background-color: #13223f;
}
#informacion i{
    color: #fff !important;
    font-size: 2rem !important;
}
#informacion .card{
    height: 270px;
}
.propiedades .property{
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.propiedades a{
    transition: 0.2s;
    color: #1396e2;
    outline: none !important;
}
/* propiedades */

figure{
    margin:0 0;
}
.propiedades{
  overflow: hidden;
}
.property {
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .property:hover img, .property:active img, .property:focus img {
    -moz-backface-visibility: hidden;
    top: -10px;
  }
  .property:hover.big .overlay, .property:active.big .overlay, .property:focus.big .overlay {
    bottom: 0px;
  }
  .property:hover .overlay, .property:active .overlay, .property:focus .overlay {
    bottom: 0px;
  }
  .property:hover .overlay .additional-info li, .property:active .overlay .additional-info li, .property:focus .overlay .additional-info li {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .property:hover .tag.status, .property:active .tag.status, .property:focus .tag.status {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .property:hover .type, .property:active .type, .property:focus .type {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .property img {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-backface-visibility: hidden;
    width: 100%;
    position: relative;
    top: 0;
  }
  .property .overlay {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    bottom: -50px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .property .overlay h3 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 0 3px 0;
  }
  .property .overlay figure {
    color: #fff;
    font-weight: lighter;
  }
  .property .overlay .additional-info {
    background-color: #073855;
    display: table;
    height: 30px;
    list-style: none;
    margin-bottom: 0;
    width: 101%;
    padding: 8px 12px;
  }
  .property .overlay .additional-info li {
    -moz-transition: 0.8s;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    color: #fff;
    display: table-cell;
    width: 25%;
  }
  .property .overlay .additional-info li header {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    font-size: 11px;
  }
  .property .overlay .additional-info li figure {
    font-size: 11px;
    font-weight: bold;
  }
  .property .overlay .info {
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    padding: 12px;
  }
  .property .property-image {
    /*height: 195px;*/
    overflow: hidden;
    width: 100%;
  }
  .property .tag.status {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    left: 13px;
    font-size: 12px;
    padding: 6px 9px;
    position: absolute;
    top: 15px;
    z-index: 1;
  }
  .property .tag.status:after {
    bottom: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    content: "";
    left: 0;
    position: absolute;
  }
  .property .type {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    background-color: #fff;
    position: absolute;
    right: 13px;
    z-index: 2;
    top: 15px;
    height: 29px;
    padding: 0 2px;
    text-align: center;
    line-height: 29px;
  }
  .property .type img {
    width: inherit;
    top: 0 !important;
  }
  .tag.price {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #1396e2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 3px 8px;
}
  
/* fin d epropeidades  */

/* consigna inmueble */
#consigna .container-fluid .border{
    padding: 25px 10px;
}

/* Diseños de blog */
.banner-imagen{
  background-image: url(../images/slide-02.jpg);
  width: 100%;
  /* Establecer un alto para los cuadros */
  height: 400px;
  /* Definir color de fondo */
  background-color: black;
  /* Que tan grande debe ser la imagen respecto al tamaño del contenedor */
  background-size: 100%;
  /* Que no se repita la imagen */
  background-repeat: no-repeat;
  /* que su posicion sea central */
  background-position: center;
}
/* section de clientes en arrendatarios y propietarios */
#iframe{
  overflow: hidden;
}
#iframe iframe{
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}
/* blog */
#lista-noticias .contenedor-image{
  background-image: url(../images/slide-02.jpg);
  width: 100%;
  /* Establecer un alto para los cuadros */
  height: 200px;
  /* Definir color de fondo */
  background-color: black;
  /* Que tan grande debe ser la imagen respecto al tamaño del contenedor */
  background-size: 100%;
  /* Que no se repita la imagen */
  background-repeat: no-repeat;
  /* que su posicion sea central */
  background-position: center;
}

/* blog-detalle */
#banner-noticias{
  overflow: hidden;
}
#banner-noticias .fecha-pdf{
  list-style: none;
  color: #13223f;
}
#banner-noticias h2{
  color: #13223f;
}
.list-group-item:hover{
  background-color: #13223f;
  color: #fff;
}

#contacto{
  overflow: hidden;
}
#contacto ul{
  list-style: none;
  text-decoration: none;
  margin-bottom: 3.5rem;
}
#contacto ul li{
  margin-bottom: 0.8rem;
}
footer .container-fluid{
    background-color: #13223f;
    color: #fff;
    padding: 15px 0;
    overflow: hidden;
}
footer a:hover{
    color:#fffff1;
}

@media (min-width: 576px) { 

}

@media (min-width: 768px) { 
}

@media (min-width: 992px) { 
    /* buscador */
    #buscador form .input-group{
        margin-bottom: 0 !important;
    }
    /* Fin de buscador */
}

@media (min-width: 1200px) { 

}